body {
  background-color: #e0e0e0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.container a:link {
  color: #aa00ff;
}

#boxes {
  display: inline-block;
  overflow: scroll;
  /*float: right;*/
  margin: 10px 3px 3px 10px;
  max-width: 300px;
  height: 440px;
}
#boxes a:link {
  color: #aa00ff;
}
#button {
  display: block;
  margin: 0 auto;
}
